doctype html
html(lang='en')
   head
    title  title
    style
      include ../css/style.css
   body
      iframe(width='100%', height='100%', src=action name='office_frame', title='Office Frame', allowfullscreen='true')